body {
    background-image: url("OIP.jpeg");
    background-position: 100%;
 
    
}

h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 5rem;
    background-color: white;
    width: 10em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: .5em;

}

.tContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#t {
    width: 25em;
    height: auto;
    margin-top: 5em;
    cursor: pointer;
}


@media screen and (max-width: 820px) {
    h1 {
        width: 15em;
        font-size: 2rem;
    }

    
}

@media screen and (max-width: 490px) {
    h1 {
        width: 10em;
        font-size: 1.5rem;
    }

    #t {
        width: 15em;
    }

    
}