body {
    background-image: url("swirl-637866.jpeg");
    background-size: cover;
    
}

h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 5rem;
    background-color: white;
    width: 10em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: .5em;

}

.tContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#t {
    width: 25em;
    height: auto;
    margin-top: 5em;
    cursor: pointer;
}